RewriteEngine On

# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
 
Options -Indexes

RewriteCond %{REQUEST_URI} /+[^\.]+$ 
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^sign-up/$ src/register/sign-up.php [NC]
RewriteRule ^register-send-otp/$ src/register/send-otp.php [NC]
RewriteRule ^register-verify-otp/$ src/register/verify-otp.php [NC]

RewriteRule ^sign-in/$ src/login/sign-in.php [NC]
RewriteRule ^login-send-otp/$ src/login/send-otp.php [NC]
RewriteRule ^login-verify-otp/$ src/login/verify-otp.php [NC]

