RewriteEngine On

# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
 
Options -Indexes

RewriteCond %{REQUEST_URI} /+[^\.]+$ 
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^sign-up/$ src/register/sign-up.php [NC]
RewriteRule ^register-send-otp/$ src/register/send-otp.php [NC]
RewriteRule ^register-verify-otp/$ src/register/verify-otp.php [NC]

RewriteRule ^register/sms-send-otp/$ src/register/sms-send-otp.php [NC]
RewriteRule ^register/sms-verify-otp/$ src/register/sms-verify-otp.php [NC]

RewriteRule ^sign-in/$ src/login/sign-in.php [NC]
RewriteRule ^login-resend-otp/$ src/login/resend-otp.php [NC]
RewriteRule ^login-verify-otp/$ src/login/verify-otp.php [NC]
RewriteRule ^login-verify-otp/$ src/login/verify-otp.php [NC]

RewriteRule ^get-profile/$ src/profile/get.php [NC]
RewriteRule ^my-profile/$ src/profile/my-details.php [NC]

RewriteRule ^auth/change-password/$ src/profile/change-password.php [NC]
RewriteRule ^auth/profile/update/$ src/profile/update.php [NC]
RewriteRule ^auth/profile/avatar/$ src/profile/avatar.php [NC]
RewriteRule ^logout/$ src/profile/logout.php [NC]

RewriteRule ^auth/mfa/setup/init/$ src/mfa/init.php [NC]
RewriteRule ^auth/mfa/setup/verify/$ src/mfa/verify.php [NC]
RewriteRule ^auth/mfa/verify/$ src/mfa/login.php [NC]

RewriteRule ^my-sessions/$ src/sessions/get.php [NC]
RewriteRule ^my-sessions/revoke-others/$ src/sessions/revoke-others.php [NC]
RewriteRule ^my-sessions/revoke/([0-9a-zA-Z-]+)/$ src/sessions/revoke.php?id=$1 [NC]

RewriteRule ^admin/organisations/$ src/organisations/get.php [NC]
RewriteRule ^organisation/my-registration/$ src/organisations/non-details.php [NC]
RewriteRule ^organisation/submit-registration/$ src/organisations/replace.php [NC]
RewriteRule ^admin/organisations/([0-9a-zA-Z-]+)/$ src/organisations/details.php?id=$1 [NC]
RewriteRule ^admin/organisations/reject/([0-9a-zA-Z-]+)/$ src/organisations/reject.php?id=$1 [NC]
RewriteRule ^admin/organisations/approve/([0-9a-zA-Z-]+)/$ src/organisations/approve.php?id=$1 [NC]

RewriteRule ^admin/roles/$ src/roles/get.php [NC]

RewriteRule ^admin/users/invite/$ src/users/invite.php [NC]
RewriteRule ^auth/invite/complete/$ src/invite/complete.php [NC]
RewriteRule ^auth/invite/resend-phone/$ src/invite/resend-phone.php [NC]
RewriteRule ^auth/invite/verify-phone/$ src/invite/verify-phone.php [NC]
RewriteRule ^auth/invite/([0-9a-zA-Z-_]+)/$ src/invite/get.php?token=$1 [NC]

RewriteRule ^admin/users/$ src/users/all.php [NC]
# RewriteRule ^admin/users/([0-9a-zA-Z-]+)/$ src/users/single.php?id=$1 [NC]
RewriteRule ^admin/users/suspend/([0-9a-zA-Z-]+)/$ src/users/suspend.php?id=$1 [NC]
RewriteRule ^admin/users/reactivate/([0-9a-zA-Z-]+)/$ src/users/reactivate.php?id=$1 [NC]
RewriteRule ^admin/users/reset-mfa/([0-9a-zA-Z-]+)/$ src/users/reset-mfa.php?id=$1 [NC]

RewriteRule ^admin/config/hub/$ src/admin-config/hub.php [NC]
RewriteRule ^admin/config/organisation/$ src/admin-config/organisation.php [NC]
RewriteRule ^admin/config/organisation/update/$ src/admin-config/update-org.php [NC]
RewriteRule ^admin/config/organisation/remove/$ src/admin-config/remove-docs.php [NC]
RewriteRule ^admin/config/terminal/$ src/admin-config/terminal.php [NC]
RewriteRule ^admin/config/terminal/update/$ src/admin-config/update-terminal.php [NC]
RewriteRule ^admin/config/gate/$ src/admin-config/gate.php [NC]
RewriteRule ^admin/config/gate/update/$ src/admin-config/update-gate.php [NC]

# 

RewriteRule ^portal/users/$ src/portal/get-users.php [NC]
RewriteRule ^portal/roles/$ src/portal/get-roles.php [NC]
RewriteRule ^portal/user/invite/$ src/portal/invite.php [NC]
RewriteRule ^portal/user/remove/$ src/portal/remove-user.php [NC]
RewriteRule ^portal/user/invite/resend/$ src/portal/resend-invite.php [NC]
