RewriteEngine On

# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
 
Options -Indexes

RewriteCond %{REQUEST_URI} /+[^\.]+$ 
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^sign-up/$ src/register/sign-up.php [NC]
RewriteRule ^register-send-otp/$ src/register/send-otp.php [NC]
RewriteRule ^register-verify-otp/$ src/register/verify-otp.php [NC]

RewriteRule ^register/sms-send-otp/$ src/register/sms-send-otp.php [NC]
RewriteRule ^register/sms-verify-otp/$ src/register/sms-verify-otp.php [NC]

RewriteRule ^sign-in/$ src/login/sign-in.php [NC]
RewriteRule ^login-resend-otp/$ src/login/resend-otp.php [NC]
RewriteRule ^login-verify-otp/$ src/login/verify-otp.php [NC]
RewriteRule ^login-verify-otp/$ src/login/verify-otp.php [NC]

RewriteRule ^get-profile/$ src/profile/get.php [NC]
RewriteRule ^my-profile/$ src/profile/my-details.php [NC]

RewriteRule ^auth/change-password/$ src/profile/change-password.php [NC]
RewriteRule ^auth/profile/update/$ src/profile/update.php [NC]
RewriteRule ^auth/profile/avatar/$ src/profile/avatar.php [NC]
RewriteRule ^logout/$ src/profile/logout.php [NC]

RewriteRule ^auth/mfa/setup/init/$ src/mfa/init.php [NC]
RewriteRule ^auth/mfa/setup/verify/$ src/mfa/verify.php [NC]
RewriteRule ^auth/mfa/verify/$ src/mfa/login.php [NC]

RewriteRule ^my-sessions/$ src/sessions/get.php [NC]
RewriteRule ^my-sessions/revoke-others/$ src/sessions/revoke-others.php [NC]
RewriteRule ^my-sessions/revoke/([0-9a-zA-Z-]+)/$ src/sessions/revoke.php?id=$1 [NC]

RewriteRule ^admin/organizations/$ src/organizations/get.php [NC]
RewriteRule ^admin/organizations/([0-9a-zA-Z-]+)/$ src/organizations/details.php?id=$1 [NC]
RewriteRule ^admin/organizations/approve/([0-9a-zA-Z-]+)/$ src/organizations/approve.php?id=$1 [NC]
RewriteRule ^admin/organizations/reject/([0-9a-zA-Z-]+)/$ src/organizations/reject.php?id=$1 [NC]
